.tulip{
  width:1920px;
  height:1080px;
  background:url("../images/tulip_page.png") no-repeat fixed;

  &-mean{

  }

  &-time{

  }

  &-origin{

    &:hover{
      border:5px solid #fff;
      box-sizing:border-box;
    }
  }

  &-type{

    &:hover{
      border:5px solid #fff;
      box-sizing:border-box;
    }
  }
}

.content-wrap{
  position:absolute;
  margin-top: 230px;
}

.tulip-square-wrap>.square{

  &:nth-child(1){
    top:51px;
    left:740px;
  }
  &:nth-child(2){
    top:221px;
    left:0;
  }
  &:nth-child(3){
    top:271px;
    left:480px;
  }
  &:nth-child(4){
    top:531px;
    left:480px;
  }
  &:nth-child(5){
    top:531px;
    left:960px;
  }
  &:nth-child(6){
    top:701px;
    left:220px;
  }
  &:nth-child(7){
    top:961px;
    left:0;
  }
  &:nth-child(8){
    top:1011px;
    left:480px;
  }
  &:nth-child(9){
    top:1011px;
    left:740px;
  }


}
