
.gnb{

  &:before{
    content:"";
    display:block;
    width:245px;
    height:2px;
    background:#fff;
    z-index: 10;
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
  }

  &-list{
    float:left;
    z-index: 10;
    position: fixed;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);

    &-item{
      float:left;
      //margin:0 auto;
      margin-left:50px;
      &:nth-child(1){
        margin-left: 0;
      }


    }

    &-link{
      display:block;
      width:12px;
      height:12px;
      border-radius:50%;
      background:#8781bd;
      text-indent:-99999px;

      &:hover{
        background:#ff9fb4;
      }
    }

  }

}